<header class="bg_animate">
    <section class="banner contenedor">
        <section class="banner_title">
            
            <main>
                <section>
                <ol>
                    <li >
                        <mat-form-field appearance="fill">
                            <mat-label>¿Cuál es tu nombre?</mat-label>
                            <input matInput [(ngModel)]="name" autocomplete="off">
                        </mat-form-field>
                    </li>
                    <li>
                        <button mat-raised-button (click)="openDialog()" [disabled]="!name">Abrir Dialog</button>
                    </li>
                    <li *ngIf="sport" class="sport-container">
                      Tu deporte favorito es: <i>{{sport}}</i>
                    </li>
                </ol>
            </section>
            </main>
        </section>
    
        <div class="banner_img">
            <img class="image" src="./assets/angular.jpg" alt="imagen">
        </div>

    </section>

    
        
    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>
</header>

